body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://waifu2x.booru.pics/outfiles/8224111ca7520232546c40d55c0b8cea3e2331b9_s2_n3_y1.jpg"); 
    background-size: cover;
}
video {
    height: 400px;
    width: 500px;
    border-radius: 10px;
    position: relative;
}